<div class="page_header">{{__tablesHeaders[0]}}</div>

<div class="d-flex justify-content-center align-items-center gap-2 mt-2">
    <div class="table_header">{{__tablesHeaders[1]}} </div>
    <app-rounded-button (click)="openDialog(__tablesHeaders[1])"></app-rounded-button>
</div>

<app-table [columns]="__productDetailsColumn" [data]="__productDetailsDataSource"></app-table>

<mat-divider class="divider"></mat-divider>
<div class="d-flex justify-content-center align-items-center gap-2 mt-2">
    <div class="table_header">{{__tablesHeaders[2]}} </div>
    <app-rounded-button (click)="openDialog(__tablesHeaders[2])"></app-rounded-button>
</div>

<app-table [columns]="__rawMaterialDetailsAndcostColumn" [data]="__rawMaterialDetailsAndcostDataSource"></app-table>

<mat-divider class="divider"></mat-divider>

<div class="d-flex justify-content-center align-items-center gap-2 mt-2">
    <div class="table_header">{{__tablesHeaders[3]}} </div>
    <app-rounded-button (click)="openDialog(__tablesHeaders[3])"></app-rounded-button>
</div>


<app-table [columns]="__conversionCostdetailsColumn" [data]="__conversionCostdetailsDataSource"></app-table>

<mat-divider class="divider"></mat-divider>

<div class="d-flex justify-content-center align-items-center gap-2 mt-2">
    <div class="table_header">{{__tablesHeaders[4]}} </div>
    <app-rounded-button (click)="openDialog(__tablesHeaders[4])"></app-rounded-button>
</div>

<app-table [columns]="__unitCostColumn" [data]="__unitCostDataSource"></app-table>

<mat-divider class="divider"></mat-divider>

<div class="d-flex justify-content-center align-items-center gap-2 mt-2">
    <div class="table_header">{{__tablesHeaders[5]}} </div>
    <app-rounded-button (click)="openDialog(__tablesHeaders[5])"></app-rounded-button>
</div>

<app-table [columns]="__machineHourRateColumn" [data]="__machineHourRateDataSource"></app-table>

<mat-divider class="divider"></mat-divider>