.page_header{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;;
}
.table_header{
    text-align: center;
    font-weight: bold;
    font-size: large;
    // padding-top: 20px;
}
.divider{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    background-color: #f0f0f0;
}


