<div class="sidebar-container" [ngClass]="{'collapsed': isCollapsed}">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="sidebar-content">
        <div class="brand">
            <img src="costing.jpg" alt="Music Logo"
                class="logo" />
            <span class="brand-name" *ngIf="!isCollapsed">Costing</span>
        </div>
        <nav class="nav-menu">
            <a class="nav-item pointer" [class.active]="activeItem === 'home'" (click)="navigateTo('/dashboard/costing', 'home')">
                <i class="fas fa-dollar-sign"></i>
                <span *ngIf="!isCollapsed">Product Costing</span>
            </a>
            <a class="nav-item pointer" [class.active]="activeItem === 'settings'" (click)="navigateTo('/dashboard/test', 'settings')">
                <i class="fas fa-cog"></i> 
                <span *ngIf="!isCollapsed">Settings</span>
            </a>
        </nav>
    </div>
</div>