.roundedbuttoncontainer {
    transition: box-shadow 0.3s, transform 0.3s;
    &:hover {
        transform: scale(1.1); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }
    &:active {
      transform: scale(0.95);
    }
  }
  
  